# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Build
.cache/
.parcel-cache/
.turbo/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/dist/
frontend/dist/
backend/node_modules/
frontend/node_modules/
